<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sửa khách hàng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>EDIT product</h2>
    <form method="post">
        <table class="table">
            <tbody>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Address</td>
            </tr>
            <tr>
                <td><input placeholder="id" name="id" th:field="${customer.id}" readonly></td>
                <td><input placeholder="Enter the tên khách hàng" th:field="${customer.name}"></td>
                <td><input placeholder="Enter the email" th:field="${customer.email}"></td>
                <td><input placeholder="Enter the address" th:field="${customer.address}"></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Edit</button>

    </form>
    <a href="/show" type="submit" class="btn btn-success">Home</a>

</div>
</body>
</html>