<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa sản phẩm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


<h2>Table Edit Product</h2>
<form method="post" th:object="${product}">
    <table class="table">
        <tbody>
        <tr>
            <th>id sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Loại sản phẩm</th>
            <th>Giá</th>
        </tr>
        <tr>
            <td><input placeholder="Enter the idsp" th:value="*{idsp}" name="idsp" readonly></td>
            <td><input placeholder="Enter the namesp" th:value="*{namesp}" name="namesp"></td>
            <td><select name="loaisp" th:value="*{loaisp}">
                <option th:each="loaisp : ${listloaisp}" th:value="*{loaisp}"></option>
            </select></td>
            <td><input type="number" placeholder="Enter the price" th:value="*{gia}" name="gia"></td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Edit Account</button>
</form>
</div>

<a href="/product" class="btn btn-success">Back</a>
</body>
</html>